.catagory-section{
    /* box-shadow: 0px 10px 1000px -100px #FBEEF0; */
    /* background:linear-gradient(#FAEEF2, #FCFCFC); */
    /* position: absolute; */
    padding: 2rem 0;
}
.catagory-section h2{
    text-align: center;
    line-height: 62px;
    font-size: 1.7rem;
}
.catagory-section h2 span{
    color: #F72D57;
}
.mySwiper{
    height: 380px;
}
.catagory-section .swiper-card .card{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* width: 300px;
    max-width: auto; */
    height: 300px;
    max-height: auto;
    max-height: auto;
    background: #fff;
    margin-right: .4rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 0 .3rem;
}
.catagory-section .swiper-card .card .price-tag{
    top: 0;
    right: 4%;
    position: absolute;
}
.catagory-section .swiper-card .card .price-tag img{
    height: 45px;
    position: relative;
}
.catagory-section .swiper-card .card .price-tag .price-star{
    top: 0;
    left: 30%;
    position: absolute;
}
.catagory-section .swiper-card .card .price-tag p{
    font-size: 10px;
    line-height: 10px;
    margin: 0;
}
.catagory-section .swiper-card .card .price-tag svg{
    font-size: 10px;
    text-align: center;
    margin: 0 auto;
}
.catagory-section .swiper-card .card .card-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0px;
    justify-content: center;
    margin-top: 1rem;
}
.catagory-section .swiper-card .card .card-details h5, h6, p{
    text-align: center;
    margin: .9rem 0;
    font-size: .9rem;
}
.catagory-section .swiper-card .card .card-details p{
    color: #3F3F3F;
}
.catagory-section .swiper-card .card .card-details button{
    margin-top: .8rem;
    padding: .7rem 1.3rem;
    border: none;
    border-radius: 5px;
    background: #F72D57;
    color: #fff;
    transition: all ease-out .2s;
}
.catagory-section .swiper-card .card .card-details button:hover{
    cursor: pointer;
    border: 1px solid #F72D57;
    background: #fff;
    color: #F72D57;
}
.catagory-section .catagory-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: .6rem;
}
.catagory-section .catagory-items button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    border:none;
    background: #FFFFFF;
    color: #F72D57;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: .4rem;
}
.catagory-section .catagory-items button img,svg{
    margin-right: .7rem;
    font-size: 1.8rem;
}
.catagory-section .catagory-items button:active{
    background: #F72D57;
    color: #FFFFFF;
}
.catagory-section .catagory-items button:hover{
    cursor: pointer;
}
.swiper-button-next{
    position: absolute;
    top: 94%;
    left: 53%;
    z-index: 111;
}
.swiper-button-prev{
    position: absolute;
    top: 94%;
    left: 46%;
    z-index: 111;
}
:root {
    --swiper-navigation-color: #F72D57;
  }
:root {
    --swiper-theme-color: #F72D57;
  }
  :root {
    --swiper-navigation-size: 24px;
}